html(lang='en')
  head
    title QR Code Generator With Text for URLs, websites, events, etc.
    script(src='https://code.jquery.com/jquery-1.11.3.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    link(rel='stylesheet', href='main.css')
    script(src='client.js')

  body
    h1(id='title') Get your awesome QR code.
    div(id='subtitle') With text in the bits.
    div(id='content')
      div(class='textbox-div')
        | URL/text to encode: 
        input(type='text', id='string-text', class='form-control', placeholder="My site, e.g. http://thepaulbooth.com", autofocus)
      div(class='textbox-div')
        | Text to overlay: 
        input(type='text', id='qr-text', class='form-control', placeholder="My initials, e.g. PHB")
      div(id='button-div')
        button(type='button', id='go-button', class='btn btn-success', data-loading-text='Loading...', onclick='goTime();') QR Go Time
    div#mycred
      | A site by 
      a(href='mailto:thepaulbooth@gmail.com', id='name-link') Paul Booth 
      |  : 
      a(href='http://twitter.com/thepaulbooth', id='twitter-link') @thepaulbooth